@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

body {
  margin: 0;
  background: white;
  color: #111;
  background-color: var(--color-background);
}

@theme {
  --font-engravers: "Engravers Old English BT", serif;
  --font-engravers: var(--font-engravers-old);
  --font-grenze: var(--font-grenze);
  --font-unifraktur: var(--font-unifraktur);
  --font-girassol: var(--font-girassol);
  --color-background: #661414;
  --color-gold: #c9a227;
  --color-gold-light: #e8d48b;
  --color-text: #f8f1e5;
}
